.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 20px 0;
  margin-top: 30px;
}

.stat-box {
  display: flex;
  align-items: center;
  gap: 12px;
  
}

.stat-icon {
  width: 55px;
  height: auto;
}

.stat-box h2 {
  font-size: 40px;
  margin: 0;
  font-weight: 600;
  color: #111;
}

.stat-box p {
  margin: 0;
  font-size: 16px;
  color: #555;
}
